body { margin: 0; }

#data { right: 0; }
#settings { left: 0; }

#settings {
  top: 0;
  flex: 1;
  margin: 5px;
  padding: 5px;
  display: flex;
  max-width: 25%;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #333;
  background-color: #777;
}

#settings > div {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

label, #collapsible_btn {
  margin: 0;
  padding: 5px;
  color: #999;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #111;
  background-color: #333;
}

#collapsible_btn {
  margin: 5px !important;
}

#collapsible_section {
  height: 64px;
  display: flex;
  max-height: 0;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #111;
  transition: max-height 0.2s ease-in-out;
}

#collapsible_section > canvas {
  margin: 5px;
  width: 64px;
  height: auto;
}