:root {
  --back: #000;
  --left-slide: left 0.1s ease-in-out;
  --bottom-slide: bottom 0.1s ease-in-out;
  --height-slide: height 0.1s ease-in-out;
}

span { margin: 5px !important; }
html { overflow: hidden; }
body { margin: 0; }

label,
#side_collapsible_btn,
#bottom_collapsible_btn {
  margin: 0;
  padding: 5px;
  color: #999;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #111;
  background-color: #333;
}

#side_collapsible_btn {
  right: 0;
  left: 8px;
  width: 32px;
  position: fixed;
  aspect-ratio: 1;
  top: calc( 50% - 16px );
  transition: var( --left-slide );
}

#bottom_collapsible_btn {
  bottom: 8px;
  width: 32px;
  position: fixed;
  aspect-ratio: 1;
  left: calc( 50% - 16px );
  transition: var( --bottom-slide );
}

#side_collapsible_section {
  top: 0;
  left: -100%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  min-width: 128px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-direction: row;
  padding: 0 !important;
  justify-content: center;
  border: 1px solid #111;
  width: calc( 25% - 32px );
  background-color: rgba( 0.9, 0.9, 0.9, 0.6 );
  transition: var( --left-slide ), var( --height-slide );
}

#side_collapsible_section.active { left: 0px }

#bottom_collapsible_section {
  left: 0;
  width: 100%;
  color: #999;
  height: 128px;
  display: flex;
  bottom: -128px;
  position: fixed;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  padding: 0 !important;
  justify-content: center;
  border: 1px solid #111;
  transition: var( --bottom-slide );
  background-color: rgba( 0.9, 0.9, 0.9, 0.6 );
}

#bottom_collapsible_section.active { bottom: 0px }

#bottom_collapsible_section > div {
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#bottom_collapsible_btn > div > span { font-size: 12px; }

#side_collapsible_section > div > canvas {
  max-width: 45%;
  height: auto;
  margin: 5px;
}

#fps > div { position: relative !important; }
#tagline > a { color: #999; }